* {
    box-sizing: border-box;
}

html, body {
    font-family: Poppins, sans-serif;
    margin: 0;
}

#header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 63px;
    background-image: linear-gradient(180deg, #B74534 0%, #C95D4D 100%);
    border-radius: 0 0 15px 15px;
}

.headercircleimages {
    width: 41px; height:41px;
    margin: 14px;
}

#headerselectcourt {
    appearance: none;
    background-image: url(img/vectorbutton.svg);
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 12px;
    width: 100%; height: 32px;
    margin: 14px; padding-left: 6px;
    font-size: 14px; font-weight: 400;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    color: #3F3F3F;
}

#bothtableheads {
    position: relative;
    margin-top: 15px;
    font-size: 18px; font-weight: 500;
}

#waitinglisttext {
    position: absolute;
    left: 6.6%; top: 3px;
}

#questionmark {
    position: absolute;
    left: 40.2%;
}

#recycle {
    position: absolute;
    right: 6.6%;
}

#announcementstext {display: none;}

#bigcontainer {
    width: 100%;
    position: absolute;
    top: 117px;
    display: flex;
    flex-direction: column;
}

#waitinglist {
    margin-left: 17px; margin-right: 17px;
    border: 2px solid;
    border-color: rgb(186,92,74);
    border-radius: 15px;
    color: #414141;
}

#waitingfirstrow, .row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 14px; font-weight: 500;
    height: 40px; 
}

.row {font-size: 12px; font-weight: 400;}

.extended, #gametypeheading, #gameratingheading, .gametype, .gamerating {display:none;}

#waitinglist > div.row:nth-child(odd) {
    background: #F5F5F5;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
}

#playersheading {margin-left: 13px; color: #222222;}
#waitingtimeheading {margin-right: 30px; color: #222222;}


.waitingtime {
    font-size: 16px; 
    padding: 12px;  
    flex-basis: 100px; 
    text-align: right;
}
.waitingtimeminutes {font-weight: 700}
.trashcan {margin-top: 7px; margin-right: 13px;}


.players1 {
    margin-left: 13px;
    flex-basis: 115px;
}

.players2 {
    margin-left: 11px;
    flex-basis: 115px; 
    flex-grow: 8; 
}

.bold {font-weight: 600;}
.color {color: #B74534}


#otherinfo {
    position: absolute;
    width: 142.75px; height: 19px;
    left: 38px; top: 202px;
    font-size: 16px; font-weight: 500;
    color: #B74534; 
    text-decoration: underline;
    text-align: center;
    background: #FFFFFF;
}

#triangle {
    position: absolute;
    width: 37px; height: 16px;
    right: 38px; top: 207px;
    background: #FFFFFF;
    text-align: center;
}

#announcementstable, #compassbig, #courtsheadingtext {display:none;}

#allcourtscontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 286px; 
    margin: 25px 18px 15px 15px;
    padding: 47.5px 52px 29px 54px;
    border-radius: 15px;
    background-color: #F8F8F8;
    position: relative;
}

#courtstopcontainer, #courtsbottomcontainer {
    display: flex;
    justify-content: space-between;
}

#compasssmall {
    position: absolute;
    top: 3%; right: 2%;
}

.court1, .court2, .court3, .court4,
.court5, .court6, .court7, .court8 {
    width: 52px; height: 88px;
}  

.court1, .court2, .court3, .court4,
.court5, .court6 {background-image: url(img/courtimagessmall.svg);
}
.court7, .court8 {background-image: url(img/courtimagessmallgray.svg);}

.courtplay, .courtred-box {display: none;}

#addbutton {
    height: 36px;
    margin-left: 17px; margin-right: 17px;
    background: linear-gradient(180deg, #B74534 0%, #C95D4D 100%);
    border-radius: 4px;
}

#addmetext { 
    font-size: 16px; font-weight:600;
    color: #FFFFFF;
    line-height: 36px;
    text-align: center;
}

#addtothewaitinglisttext {display: none;}

@media only screen and (max-width: 410px) {
    .mobile {font-size: 10px;}
}

@media only screen and (min-width: 768px) {

    #header, #questionmark, #recycle, #otherinfo, #triangle,
    .trashcan, #compasssmall, #addmetext {display: none;}

    #announcementstext, .extended, #gametypeheading,
    #gameratingheading, .gametype, .gamerating,
    #compassbig, .courtplay, .courtred-box
    {display: inline;}

    #announcementstable, #courtsheadingtext, 
    #addtothewaitinglisttext {display: block;}

    #bothtableheads {
        margin-top: 0;
        font-size: 24px; font-weight: 500;
    }

    #waitinglisttext {
        left: 22.4%; top: 5px;
        line-height: 70px;
        color: #222222;
    }

    #announcementstext {
        position: absolute;
        right: 18.5%; top: 5px;
        line-height: 70px;
        color: #222222;
    }
        


    #bigcontainer {
        flex-direction: row;
        top: 75px;
    }

    #leftcontainer {
        width: 52.1%;
    }

    #waitinglist {margin: 0 4.0% 0 7.4%;}

    #waitingfirstrow {
        height: 87.3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        font-size: 18px; font-weight: 400;
        height: 108.5px;
        color:#414141; 
    }

    #gametypeheading, #gameratingheading {
        font-size: 20px; font-weight: 500;
        width: 13.2%; line-height: 20px;
        text-align: center; position: relative;
        top: 5px;
    }

    #gametypeheading {margin-left: 8px;}

    #playersheading {
        width:22%;
        margin-left: 20px; 
        position: relative; top: 15px;
        font-size: 20px; 
    }

    #pseudoplayersheading {
        width:22%;
        margin-left: 11px;
        flex-grow: 2;  
    }

    #waitingtimeheading {
        width: 30%; 
        font-size: 24px;
        text-align: right; 
        margin-right: 15px; 
        position: relative; 
        top: 15px;
    }

    .gametype {
        width: 13.2%;
        margin-left: 8px;
        text-align: center;
    }

    .gamerating {
        width: 13.2%;
        font-size: 24px; font-weight: 700;
        text-align: center;
    }

    .handshake {
        position: relative; 
        top: 5px; left: -2px;
    }

    .players1 {
        width:22%;
        margin-left: 20px; 
        line-height: 50px; 
        flex-basis: 160px;
    }

    .players2 {
        width:22%; 
        line-height: 50px; 
        flex-basis: 160px;
    }

    .bold {font-weight:400;}
    .color {color: #414141}

    .waitingtime {
        width: 23%;
        margin-right: 30px;
        flex-basis: 150px;
        font-size: 24px;
        text-align: right; 
    }

    #rightcontainer {
        width: 47.9%;
        font-size: 18px; font-weight: 400;
    }

    #announcementstable {
        height: 252px;
        margin: 0 10.4% 0 4.3%;
        border: 2px solid;
        border-color: rgb(186,92,74);
        border-radius: 15px;
    }

    #announcementstablefirstrow {
        height: 61.3px;
        font-size: 24px; font-weight: 700;
        text-align: center; padding-top: 15px;
        color:#393939;
    }

    #announcementstabledatetime {
        height: 28px;
        font-size: 18px; font-weight: 400;
        color: #393939;
        display: flex;
        justify-content: space-between;
        padding-left: 4%; padding-right: 7%;
    }

    #pmtext {font-size: 14px; font-weight: 300;}

    #announcementstablebody {
        height: 134.7px;
        font-size: 18px; font-weight: 300;
        line-height: 22px;
        padding-left: 4.1%; padding-right: 9.6%;
        padding-top: 20px; padding-bottom: 17px;
        text-align: justify;
        background-color: #FFDCD1;
        border-top: #E4E4E4; border-bottom: #E4E4E4;
    }

    #announcementstablelastrow {height: 28px;}

    #courtsheadingtext {
        height: 86px;
        line-height: 86px;
        font-size: 24px; font-weight: 500;
        color: #222222;
        text-align: right;
        margin-right: 43.2%;
    }

    #compassbig {position: absolute; top: 20px; right: 28px;}

    #allcourtscontainer {
        height: 539.2px;
        background-color: transparent; 
        position: static; 
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
        
    #courtstopcontainer {
        padding: 0 17.2% 0% 14.4%; 
        height: 231.9px; 
    }

    #courtsbottomcontainer {
        padding: 28.2px 17.2% 0% 14.4%; 
        height: 307.3px; 
    }

    .court1, .court2, .court3, .court4,
    .court5, .court6, .court7, .court8 {
        width: 137px; height: 232px;
        background-image: url(img/courtimages.svg);
        position: relative;
    }

    .courtplay {
        font-size: 14px; font-weight:500;
        color: #414141;
        position: absolute; 

    }

    .courtred-box {
        font-size: 16px; font-weight: 600;
        color: #F3F3F3;
        position: absolute;
        left: 40px; top: 107px;
    }

    .courtplayers1{left: 30px; top: 38px;}
    .courtplayers2{left: 35px; top: 68px;}
    .courtplayers3{left: 42px; top: 147px;}
    .courtplayers4{left: 44px; top: 177px;}

    #addbutton {
        height: 80px;
        margin: 0 10.4% 0 4.3%;
        background: linear-gradient(180deg, #B74534 0%, #C95D4D 100%);
        border-radius: 4px;
    }

    #addtothewaitinglisttext {
        height: 80px;
        font-size: 24px; font-weight:600;
        color: #FFFFFF;
        text-align: center; 
        line-height: 80px;
    }

    @media only screen and (max-width: 1500px) {

        #announcementstablebody {font-size: 14px;}
        .courtplay {font-size: 12px;}
        .courtred-box {font-size: 14px;}
        .courtplayers1{left: 33px;}
        .courtplayers2{left: 38px;}
        .courtplayers3{left: 45px;}
        .courtplayers4{left: 47px;}
        .row {font-size: 16px;}
    
    }

}


