* {
    box-sizing: border-box;
}

html, body {
    font-family: Poppins, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; height: 63px;
    background-image: linear-gradient(180deg, #B74534 0%, #C95D4D 100%);
    border-radius: 0 0 15px 15px;
}

.dropdownlist {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%; height: 32px;
    margin: 14px;
    font-size: 14px; font-weight: 400;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.dropdownlist > div {margin: 6px;}
.dropdownlist > img {margin: 8px;}

.circleimages {
    width: 41px; height:41px;
    margin: 14px;
}

.tableheadmargin {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 11px;
    margin-right: 11px;
}

.tableheadmargin > * {margin-right: 15px;}

.tablehead {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 26px;
}

.tablehead > * {
    margin-right: 10px;
    font-size: 18px; font-weight: 500;
}

.tablehead div {width: 122px;}

.tablehead_extended {display:none;}

.bigcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; height: 100%;
}

.rightcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; height: 100%;
}

.tablemargin {width: 100%; height: 36.7%;}

.table {
    margin-top: 7px;
    margin-left: 17px; margin-right: 17px;
    border: 2px solid;
    border-color: rgb(186,92,74);
    border-radius: 15px;
}

.table > div.mobile, .tablehead2 {height: 40px;} 
.lastrow {height: 10px;}
.table > div.row:nth-child(even) {
    background: #F5F5F5;
    border: 1px solid #E4E4E4;
}

.tablehead2 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 14px; font-weight: 500; 
}

.playersheading {margin-left: 13px;}
.waitingtimeheading {margin-right: 17px;}
.gametypeheading, .gameratingheading, .gametype, .gamerating {display:none}

.waitingtime {
    font-size: 16px; 
    padding: 12px;  
    flex-basis: 100px; 
    text-align: right;
}

.waitingtimeminutes {font-weight: 700}
.trashcan {margin-top: 7px; margin-right: 16px;}

.extended {display: none;}

.mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px; font-weight: 400;
}

.players1 {
    margin-left: 13px;
    flex-basis: 115px;
}

.players2 {
    flex-grow: 8; 
    flex-basis: 115px; 
    margin-left: 11px;
}

.bold {font-weight: 600;}
.color {color: #B74534}

.otherinfo {
    position: absolute;
    width: 142.75px; height: 19px;
    left: 38px; top: 312px;
    font-size: 16px; font-weight: 500;
    color: #B74534; 
    text-decoration: underline;
    text-align: center;
    background: #FFFFFF;
}

.triangle {
    position: absolute;
    width: 37px; height: 16px;
    right: 38px; top: 316px;
    background: #FFFFFF;
    text-align: center;
}

.announcementstablemargin, .courtsheadingtext {display:none;}
.announcementstablemargin {width: 100%; height: 100%;}
.allcourtscontainermargin {height: 62%; width: 100%;}
.courtsheadingcontainer {height: 25px;}

.allcourtscontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%; 
    margin-left: 17px; margin-right: 17px;
    border-radius: 15px;
    background-color: #F8F8F8;
}

.courtstopcontainer, .courtsbottomcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%; width: 80%;
}
.courtstopcontainer {padding: 12% 0 4% 0;}
.courtsbottomcontainer {padding: 4% 0 6% 0;}

.court1, .court2, .court3, .court4,
.court5, .court6, .court7, .court8 {
    width: 52px; height: 88px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}  

.court1, .court2, .court3, .court4,
.court5, .court6 {background-image: url(img/courtimagessmall.svg);
}
.court7, .court8 {background-image: url(img/courtimagessmallgray.svg);}

.courtplay, .courtred-box {display: none;}

.addbutton {width: 100%; margin-top: 15px;}
.addbuttontext { height: 36px;
    margin-left: 17px; margin-right: 17px;
    background: linear-gradient(180deg, #B74534 0%, #C95D4D 100%);
    border-radius: 4px;
    font-size: 16px; font-weight:600;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addtothewaitinglisttext {display:none;}






@media only screen and (min-width: 768px) {
   
    .header, .tableheadmargin, .otherinfo, .triangle, 
    .lastrow, .trashcan, .addmetext {display: none;}

    .bigcontainer {flex-direction: row;}

    .announcementstablemargin, .addbutton, .gametype, .gamerating, 
    .gametypeheading, .gameratingheading, .courtred-box, .courtsheadingtext,
    .courtplay, .addtothewaitinglisttext, .extended {display:inline;}

    .tablemargin, .announcementstablemargin, .courts, .addbutton {width: 100%;}

    .allcourtscontainer {
        height: 100%; width: 100%;
        background-color: white;
    }

    .tablehead_extended {
        height: 70px;
        display: flex;
        justify-content:space-around;
        align-items: center;
        font-size: 24px; font-weight: 500;
        margin-top: 5px; margin-left: 74px; margin-right: 96px;
    }

    .tablehead2 {
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .gametypeheading, .gameratingheading {
        font-size: 20px; font-weight: 500;
        flex-basis: 150px;
    }

    .playersheading {margin-left: 20px; flex-basis: 200px;}
    .pseudoplayersheading {flex-grow: 2; flex-basis: 200px;}
    
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px; font-weight: 400;
    }

    .table{margin:0 40px 0 74px;}
    .rightcontainer {margin-left: 40px;}
    .playersheading {font-size: 20px;}
    .waitingtimeheading, .waitingtime {font-size: 24px; flex-basis: 250px;}
    .waitingtime, .waitingtimeheading {text-align: right; margin-right: 20px;}
    .gamerating {font-size: 24px; font-weight: 700;}
    
    .gametype, .gamerating {flex-basis: 150px;}
    .players1, .players2 {flex-basis: 250px; line-height: 40px;}
    .players1 {margin-left: 20px;}
    .gametype, .gamerating, .gametypeheading, .gameratingheading {text-align: center;}
    .table > div.row {height: 110px;}

    .bold {font-weight:400;}
    .color {color: #414141}

    .rightcontainer {
        height: 978px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 18px; font-weight: 400;
        margin-right: 96px;
    }
    .announcementstablemargin {width: 100%; height: 23%;}
    
    .announcementstable {
    height: 100%;
    border: 2px solid;
    border-color: rgb(186,92,74);
    border-radius: 15px;
    }

    .announcementstablehead {
        height: 24%;
        font-size: 24px; font-weight: 700;
        text-align: center; padding-top: 15px;
    }

    .announcementstabledatetime {
        height: 11.5%;
        font-size: 18px; font-weight: 400;
        display: flex;
        justify-content: space-between;
        padding-left: 4%; padding-right: 7%;
    }

    .announcementstablebody {
        height: 54%;
        font-size: 18px; font-weight: 300;
        line-height: 22px;
        padding-left: 4%; padding-right: 10%;
        padding-top: 20px; padding-bottom: 17px;
        text-align: justify;
        background-color: #FFDCD1;
        border-top: #E4E4E4; border-bottom: #E4E4E4;
    }

    .announcementstablelastrow {height: 10.5%;}
    .allcourtscontainermargin {height: 62%; width: 100%;}
    .allcourtscontainer {background-color: transparent;}
    .courtstopcontainer, .courtsbottomcontainer {height: 50%; width: 80%;}
    .courtstopcontainer {padding-top: 0%;}
    .courtsbottomcontainer {padding-bottom: 4%;}

    .court1, .court2, .court3, .court4,
    .court5, .court6, .court7, .court8 {
        width: 137px; height: 232px;
        background-image: url(img/courtimages.svg);
    }

    .courtplay {
        font-size: 14px; font-weight:500;
        text-align: center;
        color: #414141;
    }

    .courtred-box {
        font-size: 16px; font-weight: 600;
        color: #F3F3F3;
        text-align: center;
        margin: 10px 0 10px 0;
    }

    .courtplayers1 {margin-top: 30px;}
    .courtplayers4 {margin-bottom: 25px;}

    .addbutton {height: 7%; width: 100%;}
    .addbuttontext {
        width: auto; height: 80px;
        margin-left: 0; margin-right: 0;
        background: linear-gradient(180deg, #B74534 0%, #C95D4D 100%);
        border-radius: 4px;
        font-size: 24px; font-weight:600;
        color: #FFFFFF;
        text-align: center; line-height: 60px;
    }

    .courtsheading {font-size: 24px; font-weight: 500;}
    .courtsheadingcontainer {padding-top: 1%;}

}
